body {
    background-color: black;
}

.container {
    width: 50%;
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 0.548);
    margin: 15% auto;
    padding: 25px;
    box-sizing: border-box;
}

.container h1 {
    text-align: center;
}

.login {
    width: 50%;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.label {
    margin: 3px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.error {
    color: red;
    font-style: italic;
}

input {
    width: 200px;
    margin: 0 10px;
}

div {
    list-style: none;
}

div button {
    height: 30px;
    background-color: gray;
    margin-bottom: 10px;
}

div button:hover {
    background-color: rgba(0, 0, 255, 0.637);
}